cold-calling---no-website-prospects-dehln40HliXqDFSnnbJ5o.json
{"updatedAt":"2026-03-13T12:33:35.000Z","createdAt":"2026-03-13T12:15:11.638Z","id":"dehln40HliXqDFSnnbJ5o","name":"Cold Calling - No Website Prospects","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"d7367e04-aa48-491e-ae1f-a05b8f9f460e","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1104,224]},{"parameters":{"documentId":{"__rl":true,"value":"12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ","mode":"list","cachedResultName":"scrapped_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ/edit#gid=0"},"options":{}},"id":"20064e2b-03a2-46e3-85bf-735305f863c3","name":"Read Prospects","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-896,224],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"91cd07d6-2e88-429c-a5d7-e7de708fa9ca","name":"One by One Processing","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-704,224]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"website-check","leftValue":"={{ $json.Website || $json.website || $json.URL || $json.url || '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"id":"d4006734-90a6-4fcc-a68f-4284a5370450","name":"Has No Website?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-496,224]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"phone-validation","leftValue":"={{ $json.Phone || $json.phone || $json['Contact Number'] || $json.Mobile || '' }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}},"id":"67916a00-3bea-4b52-9e61-9a1c8eb07fdd","name":"Has Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-304,112]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ","mode":"list","cachedResultName":"Qualified Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Company Name":"={{ $json['Company Name'] || $json.Company || $json.company }}","Contact Name":"={{ $json['Contact Name'] || $json.Name || $json.Contact || $json.name }}","Phone":"={{ $json.Phone || $json.phone || $json['Contact Number'] }}","Email":"={{ $json.Email || $json.email || '' }}","Industry":"={{ $json.Industry || $json.industry || '' }}","Status":"={{ 'Qualified - Ready to Call' }}","Date Added":"={{ $now.format('YYYY-MM-DD HH:mm') }}","Call Status":"={{ 'Pending' }}"}},"options":{}},"id":"494ae072-7fb5-44a3-a362-19a1868fb154","name":"Save to Call List","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-96,0],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{},"id":"ec718d0f-be10-4311-ac05-53dcf13d0bb5","name":"Generate Call Script","type":"n8n-nodes-base.openAi","typeVersion":1.6,"position":[-96,144]},{"parameters":{"resource":"call","from":"YOUR_TWILIO_PHONE_NUMBER","to":"={{ $json.Phone || $json.phone || $json['Contact Number'] }}","twiml":"=<Response><Say voice=\"Polly.Aditi\">Hello {{ $json['Contact Name'] || $json.Name || 'there' }}, this is [YOUR_NAME] from [YOUR_COMPANY]. I noticed {{ $json['Company Name'] || 'your business' }} doesn't have a website yet. I'd love to help you get online and attract more customers. Please call me back at [YOUR_PHONE] or visit [YOUR_WEBSITE]. Thank you!</Say></Response>","options":{}},"id":"e93b2836-2703-495e-a2ab-a7a1dc9d5804","name":"Make Automated Call","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[112,144],"notes":"Sends pre-recorded voice message. For live calls, use click-to-call or manual dial with script."},{"parameters":{},"id":"a32a81a4-dae6-4184-8109-221d76472afd","name":"Create Quick Summary","type":"n8n-nodes-base.openAi","typeVersion":1.6,"position":[112,304]},{"parameters":{"operation":"update","documentId":"YOUR_TARGET_SHEET_ID","sheetName":"Qualified Call Leads","columns":{"mappingMode":"defineBelow","value":{"Call Status":"={{ 'Script Generated' }}","Script Summary":"={{ $json.choices[0].message.content }}","Last Updated":"={{ $now.format('YYYY-MM-DD HH:mm') }}"}},"options":{}},"id":"772d974c-4d57-4219-ac5a-e80e3f2fe77a","name":"Update Lead Status","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[304,224],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"amount":3,"unit":"minutes"},"id":"4cf405ff-ac2c-47cc-a931-ad37e2be0a00","name":"Wait 3 Minutes","type":"n8n-nodes-base.wait","typeVersion":1,"position":[304,432],"webhookId":"wait-cold-call"},{"parameters":{"jsCode":"// Format phone number for India\nconst phone = $input.first().json.Phone || $input.first().json.phone || '';\nlet formattedPhone = phone.replace(/\\D/g, '');\n\n// Add +91 if not present\nif (formattedPhone.length === 10) {\n  formattedPhone = '+91' + formattedPhone;\n} else if (formattedPhone.length === 12 && formattedPhone.startsWith('91')) {\n  formattedPhone = '+' + formattedPhone;\n}\n\nreturn [{ json: { ...$input.first().json, formattedPhone } }];"},"id":"5a2f4f4c-508e-47c0-a95d-ddf45e1fa5aa","name":"Format Phone Number","type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,240]}],"connections":{"Manual Trigger":{"main":[[{"node":"Read Prospects","type":"main","index":0}]]},"Read Prospects":{"main":[[{"node":"One by One Processing","type":"main","index":0}]]},"One by One Processing":{"main":[[{"node":"Has No Website?","type":"main","index":0}]]},"Has No Website?":{"main":[[{"node":"Format Phone Number","type":"main","index":0}]]},"Format Phone Number":{"main":[[{"node":"Has Phone?","type":"main","index":0}]]},"Has Phone?":{"main":[[{"node":"Save to Call List","type":"main","index":0}]]},"Make Automated Call":{"main":[[{"node":"Update Lead Status","type":"main","index":0}]]},"Update Lead Status":{"main":[[{"node":"Wait 3 Minutes","type":"main","index":0}]]},"Wait 3 Minutes":{"main":[[{"node":"One by One Processing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"282ff448-f31c-4805-b88d-4dd950725311","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-13T12:15:11.640Z","createdAt":"2026-03-13T12:15:11.640Z","role":"workflow:owner","workflowId":"dehln40HliXqDFSnnbJ5o","projectId":"qM1EIe94ct99Gl5d"}],"activeVersion":null,"tags":[]}