lead-outreach-automation---email-+-call-oz63ffoKg1RbgqSUezAA5.json
{"updatedAt":"2026-03-13T13:58:13.860Z","createdAt":"2026-03-10T03:44:49.534Z","id":"oz63ffoKg1RbgqSUezAA5","name":"Lead Outreach Automation - Email + Call","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1e4b3a5f-d1e8-45ed-8594-fb649ee4ebe9","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-784,240],"disabled":true,"notes":"Use this to test. Change to 'Schedule Trigger' for daily runs"},{"parameters":{"documentId":{"__rl":true,"value":"12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ","mode":"list","cachedResultName":"scrapped_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ/edit#gid=0"},"options":{}},"id":"44f2658c-5f01-4caf-9b8f-4d08e2de3615","name":"Read Prospects","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-592,240],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}},"notes":"Reads all prospects from your Excel/Sheet data"},{"parameters":{"batchSize":1,"options":{}},"id":"85f3727c-4dd0-4659-b90d-908fc11ccf22","name":"One by One Processing","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-384,240]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"website-check","leftValue":"={{ $json.Website || $json.website || $json.URL || $json.url || '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"id":"801cbae8-f420-4553-81f5-a7ac833a5b6f","name":"Has No Website?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-192,240]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ","mode":"list","cachedResultName":"Qualified Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Company":"={{ $json.Niche }}","Name":"={{ $json.Company }}","Phone":"={{ $json.Place }}"},"matchingColumns":[],"schema":[{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"8ee5c502-98d9-4c71-bace-f5621fda2853","name":"Save to Qualified Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[16,112],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"amount":2,"unit":"minutes"},"id":"a8b54093-ad32-4575-8099-fe00722774f5","name":"Wait 2 Minutes","type":"n8n-nodes-base.wait","typeVersion":1,"position":[224,320],"webhookId":"wait-cold-email"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"email-validation","leftValue":"={{ $json.Email || $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}},"id":"51bebfa9-9942-44a4-a73e-0184894a194c","name":"Has Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[16,256]},{"parameters":{"content":"# workflow-1 for cold emailing\n","height":768,"width":1280,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-848,-128],"typeVersion":1,"id":"b2f84fe2-e847-4de4-8de6-7ca39d0b259f","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[208,112],"id":"cdf65889-683b-4866-856e-a78bf42cd993","name":"Send cold email","webhookId":"a66dbbab-3942-4d74-abc5-78a50b2a4274"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"phone-validation","leftValue":"={{ $json.Phone || $json.phone || $json['Contact Number'] || $json.Mobile || '' }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}]},"options":{}},"id":"17f503f7-1e49-49b8-abbc-21738c283f72","name":"Has Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1504,160]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ","mode":"list","cachedResultName":"Qualified Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Company Name":"={{ $json['Company Name'] || $json.Company || $json.company }}","Contact Name":"={{ $json['Contact Name'] || $json.Name || $json.Contact || $json.name }}","Phone":"={{ $json.Phone || $json.phone || $json['Contact Number'] }}","Email":"={{ $json.Email || $json.email || '' }}","Industry":"={{ $json.Industry || $json.industry || '' }}","Status":"={{ 'Qualified - Ready to Call' }}","Date Added":"={{ $now.format('YYYY-MM-DD HH:mm') }}","Call Status":"={{ 'Pending' }}"}},"options":{}},"id":"2a7f00ab-3720-42a6-a254-fb7cdb3a88ce","name":"Save to Call List","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1712,48],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{},"id":"1a105c2a-b6a1-4e22-9f83-eccd44e0825a","name":"Generate Call Script","type":"n8n-nodes-base.openAi","typeVersion":1.6,"position":[1712,192]},{"parameters":{"resource":"call","from":"YOUR_TWILIO_PHONE_NUMBER","to":"={{ $json.Phone || $json.phone || $json['Contact Number'] }}","twiml":"=<Response><Say voice=\"Polly.Aditi\">Hello {{ $json['Contact Name'] || $json.Name || 'there' }}, this is [YOUR_NAME] from [YOUR_COMPANY]. I noticed {{ $json['Company Name'] || 'your business' }} doesn't have a website yet. I'd love to help you get online and attract more customers. Please call me back at [YOUR_PHONE] or visit [YOUR_WEBSITE]. Thank you!</Say></Response>","options":{}},"id":"06c291d6-61cb-45fd-94e3-ff0b9abdda12","name":"Make Automated Call","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[1920,192],"notes":"Sends pre-recorded voice message. For live calls, use click-to-call or manual dial with script."},{"parameters":{},"id":"0f7ef14a-d879-4416-9b48-c0ec530d827e","name":"Create Quick Summary","type":"n8n-nodes-base.openAi","typeVersion":1.6,"position":[1920,352]},{"parameters":{"operation":"update","documentId":"YOUR_TARGET_SHEET_ID","sheetName":"Qualified Call Leads","columns":{"mappingMode":"defineBelow","value":{"Call Status":"={{ 'Script Generated' }}","Script Summary":"={{ $json.choices[0].message.content }}","Last Updated":"={{ $now.format('YYYY-MM-DD HH:mm') }}"}},"options":{}},"id":"6dfb024d-d445-43b2-a668-cc8bca55fe4a","name":"Update Lead Status","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2112,272],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"amount":3,"unit":"minutes"},"id":"0cbd7990-ff8c-4f5e-9f50-673a379207fc","name":"Wait 3 Minutes","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2112,480],"webhookId":"wait-cold-call"},{"parameters":{"jsCode":"// Format phone number for India\nconst phone = $input.first().json.Phone || $input.first().json.phone || '';\nlet formattedPhone = phone.replace(/\\D/g, '');\n\n// Add +91 if not present\nif (formattedPhone.length === 10) {\n  formattedPhone = '+91' + formattedPhone;\n} else if (formattedPhone.length === 12 && formattedPhone.startsWith('91')) {\n  formattedPhone = '+' + formattedPhone;\n}\n\nreturn [{ json: { ...$input.first().json, formattedPhone } }];"},"id":"ee352ca0-53e1-4e0b-90e4-ae6712a99dc9","name":"Format Phone Number","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,288]},{"parameters":{"documentId":{"__rl":true,"value":"12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ","mode":"list","cachedResultName":"scrapped_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ/edit#gid=0"},"options":{}},"id":"ffe99bf3-07ee-402a-afa6-fe586f6dc2b3","name":"Read Prospects1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[912,272],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}},"disabled":true},{"parameters":{"batchSize":1,"options":{}},"id":"f2e3cf0a-dfe0-47ab-8537-e171ede0b409","name":"One by One Processing1","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[1104,272]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"website-check","leftValue":"={{ $json.Website || $json.website || $json.URL || $json.url || '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"id":"bfef65e5-d174-4cfe-8165-051fa519039b","name":"Has No Website?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1312,272]},{"parameters":{"rule":{"interval":[{}]}},"id":"459e0e02-2d31-4932-9268-625e35c1b6d5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-608,1568],"disabled":true},{"parameters":{"documentId":"YOUR_RAW_SCRAPED_SHEET_ID","sheetName":"Sheet1","options":{}},"id":"c7a30222-0db1-4668-bed7-eee4f23e3bac","name":"1. Read Scraped Data","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-400,1568],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// International Phone Number Cleaning & Validation\nconst items = $input.all();\nconst cleaned = [];\n\n// Country code mapping for common regions (expand as needed)\nconst countryHints = {\n  'usa': '+1', 'united states': '+1', 'us': '+1', 'america': '+1',\n  'uk': '+44', 'united kingdom': '+44', 'england': '+44', 'britain': '+44',\n  'australia': '+61', 'au': '+61',\n  'canada': '+1', 'ca': '+1',\n  'india': '+91', 'in': '+91',\n  'germany': '+49', 'de': '+49', 'deutschland': '+49',\n  'france': '+33', 'fr': '+33',\n  'uae': '+971', 'dubai': '+971', 'abu dhabi': '+971',\n  'singapore': '+65', 'sg': '+65',\n  'malaysia': '+60', 'my': '+60',\n  'philippines': '+63', 'ph': '+63',\n  'south africa': '+27', 'za': '+27',\n  'brazil': '+55', 'br': '+55',\n  'mexico': '+52', 'mx': '+52',\n  'china': '+86', 'cn': '+86',\n  'japan': '+81', 'jp': '+81',\n  'south korea': '+82', 'kr': '+82',\n  'thailand': '+66', 'th': '+66',\n  'indonesia': '+62', 'id': '+62',\n  'nigeria': '+234', 'ng': '+234',\n  'kenya': '+254', 'ke': '+254',\n  'new zealand': '+64', 'nz': '+64',\n  'ireland': '+353', 'ie': '+353',\n  'netherlands': '+31', 'nl': '+31',\n  'spain': '+34', 'es': '+34',\n  'italy': '+39', 'it': '+39',\n  'switzerland': '+41', 'ch': '+41',\n  'sweden': '+46', 'se': '+46',\n  'norway': '+47', 'no': '+47',\n  'denmark': '+45', 'dk': '+45',\n  'finland': '+358', 'fi': '+358',\n  'belgium': '+32', 'be': '+32',\n  'austria': '+43', 'at': '+43',\n  'poland': '+48', 'pl': '+48',\n  'portugal': '+351', 'pt': '+351',\n  'greece': '+30', 'gr': '+30',\n  'turkey': '+90', 'tr': '+90',\n  'israel': '+972', 'il': '+972',\n  'saudi arabia': '+966', 'sa': '+966',\n  'qatar': '+974', 'qa': '+974',\n  'kuwait': '+965', 'kw': '+965',\n  'egypt': '+20', 'eg': '+20',\n  'pakistan': '+92', 'pk': '+92',\n  'bangladesh': '+880', 'bd': '+880',\n  'sri lanka': '+94', 'lk': '+94',\n  'nepal': '+977', 'np': '+977',\n  'hong kong': '+852', 'hk': '+852',\n  'taiwan': '+886', 'tw': '+886',\n  'vietnam': '+84', 'vn': '+84',\n  'cambodia': '+855', 'kh': '+855',\n  'myanmar': '+95', 'mm': '+95',\n  'laos': '+856', 'la': '+856',\n  'brunei': '+673', 'bn': '+673',\n  'macau': '+853', 'mo': '+853'\n};\n\nfunction formatInternationalPhone(phone, locationHint) {\n  if (!phone || phone === 'undefined' || phone === 'null') return '';\n  \n  // Remove all non-digit characters except +\n  let cleaned = phone.toString().replace(/[^\\d+]/g, '');\n  \n  // If already has +, assume it's properly formatted\n  if (cleaned.startsWith('+')) {\n    // Validate E.164 format (max 15 digits after +)\n    const digitsOnly = cleaned.replace(/\\D/g, '');\n    if (digitsOnly.length >= 8 && digitsOnly.length <= 15) {\n      return cleaned;\n    }\n    return '';\n  }\n  \n  // Remove leading zeros\n  cleaned = cleaned.replace(/^0+/, '');\n  \n  // Check if it starts with a country code already (no +)\n  const commonPrefixes = ['1', '44', '61', '49', '33', '91', '86', '81', '55', '52', '39', '34', '7', '380', '48', '31', '32', '41', '46'];\n  let hasCountryCode = false;\n  let detectedCountry = '';\n  \n  for (const prefix of commonPrefixes) {\n    if (cleaned.startsWith(prefix) && cleaned.length > prefix.length + 6) {\n      hasCountryCode = true;\n      break;\n    }\n  }\n  \n  // Try to detect country from location hint\n  let countryCode = '';\n  if (locationHint) {\n    const hint = locationHint.toString().toLowerCase();\n    for (const [key, code] of Object.entries(countryHints)) {\n      if (hint.includes(key)) {\n        countryCode = code;\n        break;\n      }\n    }\n  }\n  \n  // Format logic\n  if (cleaned.startsWith('00')) {\n    // International format with 00 prefix\n    return '+' + cleaned.substring(2);\n  } else if (hasCountryCode && !countryCode) {\n    // Has country code but no hint, add + and assume valid\n    return '+' + cleaned;\n  } else if (countryCode && !cleaned.startsWith(countryCode.replace('+', ''))) {\n    // Add detected country code\n    return countryCode + cleaned;\n  } else if (cleaned.length >= 10 && cleaned.length <= 15) {\n    // Assume it needs + (if no country detected, default behavior)\n    if (countryCode) return countryCode + cleaned;\n    // If no country hint and looks like local number, try to guess or return as is\n    return '+' + cleaned;\n  }\n  \n  return '';\n}\n\nfor (const item of items) {\n  const json = item.json;\n  \n  // Extract fields with flexible naming\n  const company = json['Company Name'] || json['Company'] || json['company'] || json['Business'] || json['Name'] || '';\n  const location = json['Location'] || json['location'] || json['City'] || json['city'] || json['Country'] || json['Address'] || json['Region'] || '';\n  let phone = json['Phone'] || json['phone'] || json['Mobile'] || json['mobile'] || json['Cell'] || json['Telephone'] || json['Contact'] || '';\n  const rating = parseFloat(json['Rating'] || json['rating'] || json['Stars'] || json['Review'] || 0);\n  const email = json['Email'] || json['email'] || json['E-mail'] || json['Mail'] || '';\n  const website = json['Website'] || json['website'] || json['URL'] || json['url'] || json['Web'] || json['Site'] || '';\n  \n  // Format phone internationally\n  const formattedPhone = formatInternationalPhone(phone, location);\n  \n  // Validate email\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  const hasValidEmail = email && emailRegex.test(email.toString());\n  \n  // Detect country for AI context\n  let detectedCountry = 'International';\n  if (location) {\n    const loc = location.toLowerCase();\n    for (const [key, code] of Object.entries(countryHints)) {\n      if (loc.includes(key)) {\n        detectedCountry = key.charAt(0).toUpperCase() + key.slice(1);\n        break;\n      }\n    }\n  }\n  \n  // E.164 validation check\n  const isValidE164 = formattedPhone.match(/^\\+[1-9]\\d{6,14}$/);\n  \n  cleaned.push({\n    json: {\n      companyName: company,\n      location: location,\n      phone: formattedPhone,\n      originalPhone: phone,\n      rating: rating,\n      email: hasValidEmail ? email : '',\n      website: website,\n      hasWebsite: website && website.toString().length > 3 && website.toString().includes('.'),\n      hasEmail: hasValidEmail,\n      hasPhone: isValidE164 !== null,\n      country: detectedCountry,\n      qualificationScore: (hasValidEmail ? 1 : 0) + (isValidE164 ? 1 : 0) + (rating >= 3.5 ? 1 : 0)\n    }\n  });\n}\n\nreturn cleaned;"},"id":"8aa8669f-8e9e-4045-a623-26acfb367bc1","name":"2. Clean International Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,1568]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"has-contact","leftValue":"={{ $json.hasEmail || $json.hasPhone }}","rightValue":"true","operator":{"type":"boolean","operation":"equals"}},{"id":"no-website","leftValue":"={{ $json.hasWebsite }}","rightValue":"false","operator":{"type":"boolean","operation":"equals"}},{"id":"good-rating","leftValue":"={{ $json.rating }}","rightValue":"3.0","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"52515653-6a69-4ecc-a52b-c5141c71a282","name":"3. Qualified Lead?","type":"n8n-nodes-base.if","typeVersion":2,"position":[0,1568]},{"parameters":{"operation":"append","documentId":"YOUR_QUALIFIED_LEADS_SHEET_ID","sheetName":"Qualified Leads","columns":{"mappingMode":"defineBelow","value":{"Company Name":"={{ $json.companyName }}","Location":"={{ $json.location }}","Phone":"={{ $json.phone }}","Email":"={{ $json.email }}","Rating":"={{ $json.rating }}","Country":"={{ $json.country }}","Status":"={{ 'Qualified - Pending' }}","Priority":"={{ $json.qualificationScore >= 3 ? 'High' : 'Medium' }}","Date Added":"={{ $now.format('YYYY-MM-DD HH:mm') }}","Last Action":"={{ 'New Lead' }}","Has Website":"={{ $json.hasWebsite ? 'Yes' : 'No' }}"}},"options":{}},"id":"53d3e9a4-9870-4ef3-b72e-61a47769df1a","name":"4. Save to Qualified Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[192,1456],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"batchSize":1,"options":{}},"id":"de184316-fca2-41e4-bdf7-b4eba129f73d","name":"5. Process One by One","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[400,1456]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-email","leftValue":"={{ $json.hasEmail }}","rightValue":"true","operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"db11b93b-8dd4-446a-8254-253a77962367","name":"6. Has Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[592,1392]},{"parameters":{},"id":"df551be6-1db3-4ae1-ac49-e21b0b91ea45","name":"7. AI Generate Email","type":"n8n-nodes-base.openAi","typeVersion":1.6,"position":[800,1408]},{"parameters":{},"id":"00f8f8ec-5d79-4bcd-b65b-e853ab7870d6","name":"8. Send Cold Email","type":"n8n-nodes-base.sendEmail","typeVersion":2,"position":[976,1408]},{"parameters":{"operation":"update","documentId":"YOUR_QUALIFIED_LEADS_SHEET_ID","sheetName":"Qualified Leads","columns":{"mappingMode":"defineBelow","value":{"Status":"={{ 'Email Sent' }}","Last Action":"={{ 'Email sent on ' + $now.format('YYYY-MM-DD HH:mm') + ' (' + $json.country + ')' }}","Email Subject":"={{ $json.choices[0].message.content.match(/Subject:\\s*(.+)/i)?.[1] || 'Custom Subject' }}"}},"options":{}},"id":"a37510e2-8044-4098-a1a8-77d1e615b510","name":"9. Update Status: Email","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1168,1408],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"amount":2,"unit":"minutes"},"id":"b96fe23c-5c3e-45ee-a28b-c3d4b4a7bf16","name":"Wait 2 Min (Email)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1424,1488],"webhookId":"wait-email-delay"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-phone","leftValue":"={{ $json.hasPhone }}","rightValue":"true","operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"a2950927-4abb-48bd-9510-027a9c547ae8","name":"10. Has Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[608,1712]},{"parameters":{},"id":"376d35b0-681b-4fe0-bd83-33d3a3a2e8a2","name":"11. AI Generate Call Script","type":"n8n-nodes-base.openAi","typeVersion":1.6,"position":[800,1712]},{"parameters":{"jsCode":"// Select voice based on country\nconst country = $input.first().json.country.toLowerCase();\nconst location = ($input.first().json.location || '').toLowerCase();\n\nlet voice = 'Polly.Joanna'; // Default US\nlet language = 'en-US';\nlet accent = 'American';\n\nif (country.includes('uk') || country.includes('britain') || location.includes('london')) {\n  voice = 'Polly.Emma';\n  language = 'en-GB';\n  accent = 'British';\n} else if (country.includes('australia') || location.includes('sydney') || location.includes('melbourne')) {\n  voice = 'Polly.Olivia';\n  language = 'en-AU';\n  accent = 'Australian';\n} else if (country.includes('india') || location.includes('mumbai') || location.includes('delhi') || location.includes('bangalore')) {\n  voice = 'Polly.Aditi';\n  language = 'hi-IN';\n  accent = 'Indian';\n} else if (country.includes('germany')) {\n  voice = 'Polly.Vicki';\n  language = 'de-DE';\n  accent = 'German';\n} else if (country.includes('france')) {\n  voice = 'Polly.Celine';\n  language = 'fr-FR';\n  accent = 'French';\n} else if (country.includes('spain')) {\n  voice = 'Polly.Conchita';\n  language = 'es-ES';\n  accent = 'Spanish';\n} else if (country.includes('italy')) {\n  voice = 'Polly.Carla';\n  language = 'it-IT';\n  accent = 'Italian';\n} else if (country.includes('portugal')) {\n  voice = 'Polly.Ines';\n  language = 'pt-PT';\n  accent = 'Portuguese';\n} else if (country.includes('japan')) {\n  voice = 'Polly.Mizuki';\n  language = 'ja-JP';\n  accent = 'Japanese';\n} else if (country.includes('brazil')) {\n  voice = 'Polly.Camila';\n  language = 'pt-BR';\n  accent = 'Brazilian';\n}\n\nreturn [{ json: { voice, language, accent, ...$input.first().json } }];"},"id":"473d8852-9b7f-471b-8783-e662c30c80c6","name":"12. Select Voice/Accent","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,1712]},{"parameters":{"resource":"call","from":"YOUR_TWILIO_PHONE_NUMBER","to":"={{ $json.phone }}","twiml":"=<Response>\n  <Pause length=\"2\"/>\n  <Say voice=\"{{ $json.voice }}\" language=\"{{ $json.language }}\">\n    Hello, this is [YOUR_NAME] from [YOUR_COMPANY]. \n    I'm calling for {{ $json.companyName }} in {{ $json.location }}. \n    I noticed you have excellent customer reviews, {{ $json.rating }} stars, but I couldn't find your website when searching online. \n    Many customers in {{ $json.country }} search Google before visiting businesses. Without a website, you might be losing potential customers to competitors. \n    I'd love to help you build a professional website and establish your online presence. \n    Please call me back at [YOUR_PHONE] or visit [YOUR_WEBSITE]. Thank you and have a great day!\n  </Say>\n  <Pause length=\"1\"/>\n  <Say voice=\"{{ $json.voice }}\" language=\"{{ $json.language }}\">Goodbye!</Say>\n</Response>","options":{}},"id":"c3dde8b1-9873-4451-af2e-59a33974ee8b","name":"13. Make International Call","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[1248,1712]},{"parameters":{"operation":"update","documentId":"YOUR_QUALIFIED_LEADS_SHEET_ID","sheetName":"Qualified Leads","columns":{"mappingMode":"defineBelow","value":{"Status":"={{ 'Called / Script Ready' }}","Last Action":"={{ 'Call attempted on ' + $now.format('YYYY-MM-DD HH:mm') + ' (' + $json.country + ' - ' + $json.accent + ' voice)' }}","Call Script":"={{ $json.choices[0].message.content.substring(0, 500) }}"}},"options":{}},"id":"e6890f06-4d1c-4ced-80ef-90719cba58dc","name":"14. Update Status: Call","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1440,1712],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"amount":3,"unit":"minutes"},"id":"e3e58fbb-de11-4b24-b83c-4f0ad98d3b4d","name":"Wait 3 Min (Call)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1648,1776],"webhookId":"wait-call-delay"},{"parameters":{"jsCode":"// Check batch completion\nconst batch = $input.first().json;\nif (batch.no_items_left) {\n  return [{ json: { complete: true, totalProcessed: batch.total_processed || 0 } }];\n}\nreturn [{ json: { continue: true } }];"},"id":"a7c670e5-2bba-40f7-bc98-7a63eb42176a","name":"Next Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,1984]},{"parameters":{"rule":{"interval":[{}]}},"id":"56aac432-8a33-44cc-b576-9e29f87af002","name":"Daily Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1328,3008]},{"parameters":{"documentId":{"__rl":true,"value":"12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ","mode":"list","cachedResultName":"scrapped_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12id8LF5oxdzp-Bo6OnUuHjcol3sq-cneosGoB_qrVcQ/edit#gid=0"},"combineFilters":"OR","options":{}},"id":"875cbefc-eeba-45e2-8bc8-88c2bd314583","name":"NODE 1: Read Scraped Data","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-1120,3008],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // ── Phone Formatting ──\n  let phone = (data.Phone || '').toString().trim().replace(/[\\s\\-().]/g, '');\n  let country = 'UNKNOWN';\n  let hasPhone = false;\n\n  const countryMap = [\n    { prefix: '+1',   codes: ['1'],   name: 'USA/Canada',    keywords: ['usa','united states','canada','us,','ca,'] },\n    { prefix: '+44',  codes: ['44'],  name: 'UK',            keywords: ['uk','united kingdom','england','britain'] },\n    { prefix: '+91',  codes: ['91'],  name: 'India',         keywords: ['india','mumbai','delhi','bangalore','chennai','hyderabad','pune','kolkata'] },\n    { prefix: '+61',  codes: ['61'],  name: 'Australia',     keywords: ['australia','sydney','melbourne','brisbane'] },\n    { prefix: '+49',  codes: ['49'],  name: 'Germany',       keywords: ['germany','berlin','munich','hamburg'] },\n    { prefix: '+33',  codes: ['33'],  name: 'France',        keywords: ['france','paris','lyon','marseille'] },\n    { prefix: '+971', codes: ['971'], name: 'UAE',           keywords: ['uae','dubai','abu dhabi','sharjah'] },\n    { prefix: '+65',  codes: ['65'],  name: 'Singapore',     keywords: ['singapore'] },\n    { prefix: '+1',   codes: ['1'],   name: 'USA',           keywords: [] }\n  ];\n\n  const locationLower = (data.Location || '').toLowerCase();\n  let detectedCountry = countryMap.find(c => c.keywords.some(k => locationLower.includes(k)));\n  if (!detectedCountry) detectedCountry = { prefix: '+1', name: 'USA', codes: ['1'] };\n  country = detectedCountry.name;\n\n  if (phone) {\n    if (!phone.startsWith('+')) {\n      // Strip leading 0 if present\n      const stripped = phone.replace(/^0+/, '');\n      phone = detectedCountry.prefix + stripped;\n    }\n    // Basic E.164 validation: starts with + and 7-15 digits\n    hasPhone = /^\\+[1-9]\\d{6,14}$/.test(phone);\n    if (!hasPhone) phone = '';\n  }\n\n  // ── Email Validation ──\n  const email = (data.Email || '').trim().toLowerCase();\n  const hasEmail = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n  // ── Website Check ──\n  const website = (data.Website || '').trim();\n  const hasWebsite = website.length > 0 && website !== 'N/A' && website !== '-';\n\n  // ── Rating ──\n  const rating = parseFloat(data.Rating) || 0;\n\n  // ── Qualification Score ──\n  let score = 0;\n  if (hasEmail) score += 30;\n  if (hasPhone) score += 30;\n  if (rating >= 4.5) score += 40;\n  else if (rating >= 4.0) score += 30;\n  else if (rating >= 3.5) score += 20;\n  else if (rating > 3.0) score += 10;\n\n  const priority = score >= 70 ? 'High' : 'Medium';\n\n  results.push({\n    json: {\n      companyName:  data['Company Name'] || data.companyName || '',\n      location:     data.Location || '',\n      phone:        hasPhone ? phone : '',\n      email:        hasEmail ? email : '',\n      rating,\n      website,\n      country,\n      hasEmail,\n      hasPhone,\n      hasWebsite,\n      score,\n      priority\n    }\n  });\n}\n\nreturn results;"},"id":"0a2b9c01-d588-4711-82d6-8173487c7982","name":"NODE 2: Clean International Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,3008]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-contact","leftValue":"={{ $json.hasEmail || $json.hasPhone }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"cond-nowebsite","leftValue":"={{ $json.hasWebsite }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}},{"id":"cond-rating","leftValue":"={{ $json.rating }}","rightValue":3,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"0386ee36-435e-4364-97c7-97d7e96ec15c","name":"NODE 3: Qualified Lead?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-672,3008]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ","mode":"list","cachedResultName":"Qualified Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1teRFMZipVadwObDozH07hAvutjVQBUYh-mVCaCsjQBQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Location":"={{ $json.location }}","Phone":"={{ $json.phone }}","Email":"={{ $json.email }}"},"matchingColumns":[],"schema":[{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"bd8abc45-ed79-4731-9ca4-e1adffea6340","name":"NODE 4: Save to Qualified Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-448,2928],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"options":{}},"id":"4faf329f-5b07-4f70-b076-7ce5d971b233","name":"NODE 5: Process One by One","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-240,2928]},{"parameters":{"conditions":{"conditions":[{"id":"cond-hasemail","leftValue":"={{ $json.hasEmail }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"d1124f04-9c25-49d4-b10e-0d3e89430b22","name":"NODE 6: Has Email?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-16,2928]},{"parameters":{"resource":"chat"},"id":"230d53a4-4f2c-4388-841a-23a58de9c45b","name":"NODE 7: AI Generate Email","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[208,2816]},{"parameters":{"jsCode":"const item = $input.first();\nconst raw = item.json.message?.content || item.json.choices?.[0]?.message?.content || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  // Fallback: extract from partial JSON\n  const subjectMatch = raw.match(/\"subject\"\\s*:\\s*\"([^\"]+)\"/);\n  const bodyMatch = raw.match(/\"body\"\\s*:\\s*\"([^\"]+)\"/);\n  parsed = {\n    subject: subjectMatch ? subjectMatch[1] : 'Quick question about your business',\n    body: bodyMatch ? bodyMatch[1] : raw\n  };\n}\n\n// Merge back with original lead data\nconst lead = $('NODE 6: Has Email?').first().json;\nreturn [{ json: { ...lead, emailSubject: parsed.subject, emailBody: parsed.body } }];"},"id":"bb888644-5f74-479a-96fd-17357b96502d","name":"NODE 7b: Parse Email JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,2816]},{"parameters":{"fromEmail":"your@email.com","toEmail":"={{ $json.email }}","subject":"={{ $json.emailSubject }}","emailFormat":"text","options":{}},"id":"7c3a670d-b1bd-4c9e-b72a-b6956480b34a","name":"NODE 8: Send Cold Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[656,2816],"webhookId":"5b2d5e1d-c8b3-49ff-9ddb-4076d5d4eea3"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"QualifiedLeads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Status":"=Email Sent","Last Action":"={{ $now.toISO() }}","Email Subject":"={{ $json.emailSubject }}"}},"options":{}},"id":"003b043b-1991-42dc-a2a5-efc480bdc178","name":"NODE 9: Update Status: Email Sent","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[880,2816],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"amount":2,"unit":"minutes"},"id":"a8e55a2c-0de7-484b-92a5-0255465f9bcb","name":"Wait 2 Min (Email Delay)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1088,2816],"webhookId":"0eb3367f-3652-47e8-8867-0c332a2629e6"},{"parameters":{"conditions":{"conditions":[{"id":"cond-hasphone","leftValue":"={{ $json.hasPhone }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6a63a089-b6e3-49b5-b78c-e110dd334aae","name":"NODE 10: Has Phone?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1312,2928]},{"parameters":{"resource":"chat"},"id":"f093a2b3-e4a1-43f6-aeeb-0c3d4c3d5af0","name":"NODE 11: AI Generate Call Script","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1536,2816]},{"parameters":{"jsCode":"const item = $input.first();\nconst raw = item.json.message?.content || item.json.choices?.[0]?.message?.content || '';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  parsed = { full_script: raw, greeting: '', pitch: '', cta: '' };\n}\n\nconst lead = $('NODE 10: Has Phone?').first().json;\n\n// Voice mapping by country\nconst voiceMap = {\n  'USA':         'Polly.Joanna',\n  'USA/Canada':  'Polly.Joanna',\n  'UK':          'Polly.Emma',\n  'India':       'Polly.Aditi',\n  'Australia':   'Polly.Nicole',\n  'Germany':     'Polly.Marlene',\n  'France':      'Polly.Celine',\n  'UAE':         'Polly.Zeina',\n  'Singapore':   'Polly.Joanna'\n};\nconst voice = voiceMap[lead.country] || 'Polly.Joanna';\n\nreturn [{\n  json: {\n    ...lead,\n    callScript: parsed.full_script,\n    callGreeting: parsed.greeting,\n    callPitch: parsed.pitch,\n    callCTA: parsed.cta,\n    objectionHandlers: parsed.objection_handlers || {},\n    twilioVoice: voice\n  }\n}];"},"id":"4f65daff-8063-4660-9417-64c1664c6f52","name":"NODE 12: Select Voice / Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,2816]},{"parameters":{"operation":"makePhoneCall","options":{}},"id":"4c80b1c6-85fc-483e-a8df-cfbd5bafc230","name":"NODE 13: Make International Call","type":"n8n-nodes-base.twilio","typeVersion":1,"position":[1968,2816]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"QualifiedLeads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Status":"=Called","Last Action":"={{ $now.toISO() }}","Call Script":"={{ $json.callScript.substring(0, 500) }}"}},"options":{}},"id":"23d5e69b-d126-4ee1-b161-ebc8e2d6b02f","name":"NODE 14: Update Status: Called","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[2192,2816],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"amount":3,"unit":"minutes"},"id":"30450493-c3cd-4e80-9f03-b79be2a12f68","name":"Wait 3 Min (Call Delay)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2416,2816],"webhookId":"c5fa5144-e53c-417c-b56d-ebda82b8cc60"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"QualifiedLeads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Status":"=Email Only - No Phone","Last Action":"={{ $now.toISO() }}"}},"options":{}},"id":"e91c4955-39ee-4629-a1e3-d6eb1d025972","name":"Update Status: Email Only","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[1536,3088],"credentials":{"googleSheetsOAuth2Api":{"id":"9vTiTNX0p0c9p5Hw","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// This node just passes through to loop back to SplitInBatches\n// n8n handles the loop automatically when SplitInBatches has more items\nreturn $input.all();"},"id":"e0d9a8b6-5558-4e5f-a6d2-5fc3a2151e7f","name":"NODE 18: Next Lead","type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,2928]}],"connections":{"Manual Trigger":{"main":[[{"node":"Read Prospects","type":"main","index":0}]]},"Read Prospects":{"main":[[{"node":"One by One Processing","type":"main","index":0}]]},"One by One Processing":{"main":[[{"node":"Has No Website?","type":"main","index":0}]]},"Has No Website?":{"main":[[{"node":"Has Email?","type":"main","index":0}]]},"Has Email?":{"main":[[{"node":"Save to Qualified Sheet","type":"main","index":0}]]},"Wait 2 Minutes":{"main":[[{"node":"One by One Processing","type":"main","index":0}]]},"Save to Qualified Sheet":{"main":[[{"node":"Send cold email","type":"main","index":0}]]},"Has Phone?":{"main":[[{"node":"Save to Call List","type":"main","index":0}]]},"Make Automated Call":{"main":[[{"node":"Update Lead Status","type":"main","index":0}]]},"Update Lead Status":{"main":[[{"node":"Wait 3 Minutes","type":"main","index":0}]]},"Wait 3 Minutes":{"main":[[{"node":"One by One Processing1","type":"main","index":0}]]},"Format Phone Number":{"main":[[{"node":"Has Phone?","type":"main","index":0}]]},"Read Prospects1":{"main":[[{"node":"One by One Processing1","type":"main","index":0}]]},"One by One Processing1":{"main":[[{"node":"Has No Website?1","type":"main","index":0}]]},"Has No Website?1":{"main":[[{"node":"Format Phone Number","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"1. Read Scraped Data","type":"main","index":0}]]},"1. Read Scraped Data":{"main":[[{"node":"2. Clean International Data","type":"main","index":0}]]},"2. Clean International Data":{"main":[[{"node":"3. Qualified Lead?","type":"main","index":0}]]},"3. Qualified Lead?":{"main":[[{"node":"4. Save to Qualified Sheet","type":"main","index":0}]]},"4. Save to Qualified Sheet":{"main":[[{"node":"5. Process One by One","type":"main","index":0}]]},"5. Process One by One":{"main":[[{"node":"6. Has Email?","type":"main","index":0}]]},"6. Has Email?":{"main":[[],[{"node":"10. Has Phone?","type":"main","index":0}]]},"9. Update Status: Email":{"main":[[{"node":"Wait 2 Min (Email)","type":"main","index":0}]]},"Wait 2 Min (Email)":{"main":[[{"node":"10. Has Phone?","type":"main","index":0}]]},"10. Has Phone?":{"main":[[],[{"node":"Next Lead","type":"main","index":0}]]},"12. Select Voice/Accent":{"main":[[{"node":"13. Make International Call","type":"main","index":0}]]},"13. Make International Call":{"main":[[{"node":"14. Update Status: Call","type":"main","index":0}]]},"14. Update Status: Call":{"main":[[{"node":"Wait 3 Min (Call)","type":"main","index":0}]]},"Wait 3 Min (Call)":{"main":[[{"node":"Next Lead","type":"main","index":0}]]},"Next Lead":{"main":[[{"node":"5. Process One by One","type":"main","index":0}]]},"Daily Trigger":{"main":[[{"node":"NODE 1: Read Scraped Data","type":"main","index":0}]]},"NODE 1: Read Scraped Data":{"main":[[{"node":"NODE 2: Clean International Data","type":"main","index":0}]]},"NODE 2: Clean International Data":{"main":[[{"node":"NODE 3: Qualified Lead?","type":"main","index":0}]]},"NODE 3: Qualified Lead?":{"main":[[{"node":"NODE 4: Save to Qualified Sheet","type":"main","index":0}]]},"NODE 4: Save to Qualified Sheet":{"main":[[{"node":"NODE 5: Process One by One","type":"main","index":0}]]},"NODE 5: Process One by One":{"main":[[{"node":"NODE 6: Has Email?","type":"main","index":0}]]},"NODE 6: Has Email?":{"main":[[{"node":"NODE 7: AI Generate Email","type":"main","index":0}],[{"node":"NODE 10: Has Phone?","type":"main","index":0}]]},"NODE 7: AI Generate Email":{"main":[[{"node":"NODE 7b: Parse Email JSON","type":"main","index":0}]]},"NODE 7b: Parse Email JSON":{"main":[[{"node":"NODE 8: Send Cold Email","type":"main","index":0}]]},"NODE 8: Send Cold Email":{"main":[[{"node":"NODE 9: Update Status: Email Sent","type":"main","index":0}]]},"NODE 9: Update Status: Email Sent":{"main":[[{"node":"Wait 2 Min (Email Delay)","type":"main","index":0}]]},"Wait 2 Min (Email Delay)":{"main":[[{"node":"NODE 10: Has Phone?","type":"main","index":0}]]},"NODE 10: Has Phone?":{"main":[[{"node":"NODE 11: AI Generate Call Script","type":"main","index":0}],[{"node":"Update Status: Email Only","type":"main","index":0}]]},"NODE 11: AI Generate Call Script":{"main":[[{"node":"NODE 12: Select Voice / Parse Script","type":"main","index":0}]]},"NODE 12: Select Voice / Parse Script":{"main":[[{"node":"NODE 13: Make International Call","type":"main","index":0}]]},"NODE 13: Make International Call":{"main":[[{"node":"NODE 14: Update Status: Called","type":"main","index":0}]]},"NODE 14: Update Status: Called":{"main":[[{"node":"Wait 3 Min (Call Delay)","type":"main","index":0}]]},"Wait 3 Min (Call Delay)":{"main":[[{"node":"NODE 18: Next Lead","type":"main","index":0}]]},"Update Status: Email Only":{"main":[[{"node":"NODE 18: Next Lead","type":"main","index":0}]]},"NODE 18: Next Lead":{"main":[[{"node":"NODE 5: Process One by One","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"343e9267-d475-4737-95cb-8ac1d38906ac","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-10T03:44:49.539Z","createdAt":"2026-03-10T03:44:49.539Z","role":"workflow:owner","workflowId":"oz63ffoKg1RbgqSUezAA5","projectId":"qM1EIe94ct99Gl5d"}],"activeVersion":null,"tags":[]}