mass-agency---whatsapp-lead-engagement-6v7p7YZMoZIxATyO7N-Gh.json
{"updatedAt":"2026-04-30T13:56:23.698Z","createdAt":"2026-04-30T13:56:23.698Z","id":"6v7p7YZMoZIxATyO7N-Gh","name":"MASS Agency - WhatsApp Lead Engagement","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mass-lead-intake","options":{}},"id":"9df2f280-3656-4814-a724-3293bc63f79b","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-336,0],"webhookId":"mass-agency-lead-webhook"},{"parameters":{"values":{"string":[{"name":"lead_name","value":"={{ $json.body.name }}"},{"name":"phone","value":"={{ $json.body.phone }}"},{"name":"service_interest","value":"={{ $json.body.service_interest || 'AI Automation' }}"},{"name":"company","value":"={{ $json.body.company || 'your business' }}"},{"name":"source","value":"={{ $json.body.source || 'Website' }}"}]},"options":{}},"id":"03a936f7-0e68-4792-9f2c-cc340beeedc9","name":"Extract Lead Data","type":"n8n-nodes-base.set","typeVersion":1,"position":[-112,0]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.WHATSAPP_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: 'Hi ' + $json.lead_name + '! 👋\\n\\nThanks for reaching out to *MASS AI Agency*.\\n\\nWe help agencies automate their operations using AI — freeing up 10–20 hours/week per client. 🤖\\n\\nSending you a quick overview in just a moment!' } }) }}","options":{}},"id":"e4357ae2-20e4-4953-91d6-a76e8c6541be","name":"Send Welcome Message","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[112,0]},{"parameters":{"amount":45,"unit":"seconds"},"id":"10972eb4-88ad-417c-8432-97311fd13379","name":"Wait 45 Seconds","type":"n8n-nodes-base.wait","typeVersion":1,"position":[336,0],"webhookId":"ca132b5d-c5c5-41cd-9540-8231e8673358"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.WHATSAPP_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: '⚡ *What MASS AI Agency Offers:*\\n\\n✅ AI Workflow Automation\\n✅ Client Onboarding Bots\\n✅ Lead Follow-up Systems\\n✅ CRM + Email Auto-Responders\\n✅ Reporting & Data Pipelines\\n\\n💼 *Best for:* Marketing, Real Estate, SaaS & E-com Agencies\\n💰 *Starting at:* $500–700/project\\n\\n👉 Want to see a live demo? Reply *DEMO* and I\\'ll set one up for you!' } }) }}","options":{}},"id":"a9f210b0-1f23-4744-9640-99a9385cdbb8","name":"Send Services and CTA","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[544,0]},{"parameters":{"amount":24},"id":"748438aa-220f-403d-8e7f-ad57785ea02a","name":"Wait 24 Hours","type":"n8n-nodes-base.wait","typeVersion":1,"position":[768,0],"webhookId":"4c7e974a-ed9b-40e1-a08f-221816a2dea7"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.WHATSAPP_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: 'Hey ' + $json.lead_name + ' 👋\\n\\nJust checking in — did you get a chance to look at what we shared yesterday?\\n\\nIf you have questions about AI automation for ' + $json.company + ', I\\'m happy to help.\\n\\nReply *YES* to book a quick 15-min discovery call. 📞' } }) }}","options":{}},"id":"d77ed277-cc54-40f6-bc63-7b2d87e514f5","name":"Send Follow Up","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[992,0]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Extract Lead Data","type":"main","index":0}]]},"Extract Lead Data":{"main":[[{"node":"Send Welcome Message","type":"main","index":0}]]},"Send Welcome Message":{"main":[[{"node":"Wait 45 Seconds","type":"main","index":0}]]},"Wait 45 Seconds":{"main":[[{"node":"Send Services and CTA","type":"main","index":0}]]},"Send Services and CTA":{"main":[[{"node":"Wait 24 Hours","type":"main","index":0}]]},"Wait 24 Hours":{"main":[[{"node":"Send Follow Up","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"706f6ba2-92df-4d22-ba7a-cb0df1b4f248","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-30T13:56:23.703Z","createdAt":"2026-04-30T13:56:23.703Z","role":"workflow:owner","workflowId":"6v7p7YZMoZIxATyO7N-Gh","projectId":"qM1EIe94ct99Gl5d"}],"activeVersion":null,"tags":[]}