mass-agency---whatsapp-status-updates-WnY5IXIU8ujAvtiCcRVfE.json
{"updatedAt":"2026-04-30T13:58:31.672Z","createdAt":"2026-04-30T13:57:10.900Z","id":"WnY5IXIU8ujAvtiCcRVfE","name":"MASS Agency - WhatsApp Status Updates","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1"}]}},"id":"23ce8ca5-ca8f-45ab-a2e2-a367db81f1dd","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-192,64]},{"parameters":{"jsCode":"// ⚠️ Replace this with a Google Sheets node in production.\n// Each row should have: name, phone, project, status, progress, next_milestone\n\nconst clients = [\n  {\n    name: 'John Smith',\n    phone: '14155551234',\n    project: 'CRM Automation',\n    status: 'In Progress',\n    progress: '60%',\n    next_milestone: 'Email flow testing'\n  },\n  {\n    name: 'Sarah Lee',\n    phone: '14155555678',\n    project: 'Lead Bot',\n    status: 'Review Pending',\n    progress: '85%',\n    next_milestone: 'Client UAT approval'\n  },\n  {\n    name: 'Mike Chen',\n    phone: '14155559012',\n    project: 'Reporting Pipeline',\n    status: 'Delivered',\n    progress: '100%',\n    next_milestone: 'Monthly maintenance check'\n  }\n];\n\nreturn clients.map(client => ({ json: client }));"},"id":"0b8fc128-cad9-4fe4-82b5-c5327ac89049","name":"Load Client List","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,64]},{"parameters":{"options":{}},"id":"03a2e188-160c-46f8-8e6f-306825aef7f5","name":"Loop Clients","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,64]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $vars.WHATSAPP_TOKEN }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: '📊 *Weekly Project Update*\\nHi ' + $json.name + '! Here\\'s your status for this week:\\n\\n🔧 *Project:* ' + $json.project + '\\n📌 *Status:* ' + $json.status + '\\n📈 *Progress:* ' + $json.progress + '\\n🎯 *Next Milestone:* ' + $json.next_milestone + '\\n\\nQuestions? Just reply here — we\\'re on it! 💪\\n\\n— MASS AI Agency Team' } }) }}","options":{}},"id":"daf4f267-5e33-4537-b588-0da0f74fd8bf","name":"Send Status Update","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[480,64]},{"parameters":{"amount":2,"unit":"seconds"},"id":"f6206419-78c1-483f-b132-3bd8f46a6fd0","name":"Rate Limit Pause","type":"n8n-nodes-base.wait","typeVersion":1,"position":[688,64],"webhookId":"c663a5b0-5a09-46a3-99c5-7991c726ab1d"},{"parameters":{"content":"Loads client list (replace with Google Sheets node)\n","height":256,"width":208},"type":"n8n-nodes-base.stickyNote","position":[-32,-48],"typeVersion":1,"id":"9fe693e4-ae3a-4d45-82aa-214735cd15d0","name":"Sticky Note"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Load Client List","type":"main","index":0}]]},"Load Client List":{"main":[[{"node":"Loop Clients","type":"main","index":0}]]},"Loop Clients":{"main":[[{"node":"Send Status Update","type":"main","index":0}]]},"Send Status Update":{"main":[[{"node":"Rate Limit Pause","type":"main","index":0}]]},"Rate Limit Pause":{"main":[[{"node":"Loop Clients","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ff46d2da-8325-41a8-ac44-1f7fe1e24033","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-30T13:57:10.904Z","createdAt":"2026-04-30T13:57:10.904Z","role":"workflow:owner","workflowId":"WnY5IXIU8ujAvtiCcRVfE","projectId":"qM1EIe94ct99Gl5d"}],"activeVersion":null,"tags":[]}