rss-feed-news-q08YgVYcakONIND651nyG.json
{"updatedAt":"2026-02-15T17:39:49.210Z","createdAt":"2026-02-08T10:21:59.870Z","id":"q08YgVYcakONIND651nyG","name":"RSS feed News","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.techradar.com/feeds/tag/ai","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[96,-32],"id":"68a80405-ad7a-4fda-9291-835fad5fa174","name":"techradar"},{"parameters":{"jsCode":"// Number of days to look back\nconst DAYS_LIMIT = 3;\nconst now = new Date();\nconst cutoffDate = new Date(now);\ncutoffDate.setDate(now.getDate() - DAYS_LIMIT);\n\n// Ensure input exists\nif (!items || items.length === 0) {\n\treturn [];\n}\n\n// Filter recent stories\nconst recentItems = items.filter(item => {\n\tconst dateValue =\n\t\titem.json.pubDate ||\n\t\titem.json.isoDate ||\n\t\titem.json.published ||\n\t\titem.json.date;\n\n\tif (!dateValue) return false;\n\n\tconst itemDate = new Date(dateValue);\n\treturn itemDate >= cutoffDate;\n});\n\n// If recent stories exist, return only them\nif (recentItems.length > 0) {\n\treturn recentItems;\n}\n\n// If no recent stories, return ONE fallback item\nreturn [items[0]];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-32],"id":"feb6d8e2-7f2b-459d-be03-50fdc97cda60","name":"filter 3 days"},{"parameters":{"promptType":"define","text":"=You are a professional news summarisation agent.\n\nYou will receive exactly 5 news articles.\nEach article contains a title, full content, and an image URL.\narticle 1: {{ $json.article_1 }}\ntitle: {{ $json.article_1.title }}\ncontent: {{ $json.article_1.content }}\nimgUrl: {{ $json.article_1.imgUrl }} \n\narticle 2: {{ $json.article_2 }} \ntitle: {{ $json.article_2.title }}\ncontent: {{ $json.article_2.content }}\nimgUrl: {{ $json.article_2.imgUrl }}\n\narticle 3: {{ $json.article_3 }}\ntitle: {{ $json.article_3.title }}\ncontent: {{ $json.article_3.content }}\nimgUrl: {{ $json.article_3.imgUrl }}\n\narticle 4: {{ $json.article_4 }}\ntitle: {{ $json.article_4.title }}\ncontent: {{ $json.article_4.content }}\nimgUrl: {{ $json.article_4.imgUrl }}\n\narticle 5: {{ $json.article_5 }}\ntitle: {{ $json.article_5.title }}\ncontent: {{ $json.article_5.content }}\nimgUrl: {{ $json.article_5.imgUrl }}\n\nYour task:\n- Summarise EACH article clearly and accurately\n- The summary must be between 60 and 70 words\n- Preserve the key idea, context, and importance\n- Do not add opinions or assumptions\n- Do not repeat the title inside the summary\n\nuse tool: 'formatting'\nReturn the output strictly in the following format:\n-title \n-summary \n-imageUrl\n\nRules:\n- One object per article\n- Exactly 5 objects in the array\n- Use simple, neutral language\n- If image URL is missing, return an empty string ","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[928,-32],"id":"f41a6598-c478-463d-8257-08ab9f8f06eb","name":"AI Agent"},{"parameters":{"jsCode":"// Maximum number of articles to keep\nconst LIMIT = 5;\n\n// Safety check\nif (!items || items.length === 0) {\n\treturn [];\n}\n\n// Take the first 5 items\nconst bestItems = items.slice(0, LIMIT);\n\n// Always return items in n8n format\nreturn bestItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-32],"id":"ef4cf6b0-ea8f-4daa-8805-cce1cae05217","name":"best 5 news"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[768,192],"id":"a2a1b907-9811-4c49-9020-371a1ad57ff2","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"1vVpDnm9y5y1nUrJ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"// Ensure items exist\nif (!items || items.length === 0) {\n\tthrow new Error(\"No articles found to format.\");\n}\n\n// Limit to 5 articles\nconst articles = items.slice(0, 5);\n\n// Build formatted output\nconst formattedOutput = {};\n\narticles.forEach((item, index) => {\n\tconst articleNumber = index + 1;\n\n\tformattedOutput[`article_${articleNumber}`] = {\n\t\ttitle: item.json.title || \"\",\n\t\tcontent: item.json.content || item.json.summary || \"\",\n\t\timgUrl:item.json.enclosure?.url || item.json.imgUrl || \"\"\n\t};\n});\n\n// Return as single item\nreturn [\n\t{\n\t\tjson: formattedOutput\n\t}\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-32],"id":"e05ec10b-b52e-47ea-a9d5-89a283c22690","name":"formating"},{"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[768,368],"id":"204a83e9-3845-40cc-8140-b712c94260a4","name":"Groq Chat Model","credentials":{"groqApi":{"id":"Xari1tjPaIgXTVQH","name":"Groq account"}}},{"parameters":{"jsCode":"// Ensure items exist\nif (!items || items.length === 0) {\n\tthrow new Error(\"No articles found to format.\");\n}\n\n// Limit to 5 articles\nconst articles = items.slice(0, 5);\n\n// Build formatted output\nconst formattedOutput = {};\n\narticles.forEach((item, index) => {\n\tconst articleNumber = index + 1;\n\n\tformattedOutput[`article_${articleNumber}`] = {\n\t\ttitle: item.json.title || \"\",\n\t\tcontent: item.json.content || item.json.summary || \"\",\t     imgUrl:item.json.enclosure?.url || item.json.imgUrl || \"\"\n\t};\n});\n\n// Return as single item\nreturn [\n\t{\n\t\tjson: formattedOutput\n\t}\n];\n"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[1072,192],"id":"dad3bdf7-b99b-4aec-8738-1c29aeb028e4","name":"formatting"},{"parameters":{"content":"list of rss feeds : \n1.https://www.thehansindia.com/sports/feed\n2.https://www.techradar.com/feeds/tag/ai\n3.https://www.oneindia.com/rss/feeds/news-international-fb.xml\n4.https://www.oneindia.com/rss/feeds/news-india-fb.xml\n5.https://feeds.bbci.co.uk/news/business/rss.xml\n6.https://feeds.bbci.co.uk/news/technology/rss.xml","height":272,"width":496},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,368],"id":"60163d02-a78a-4474-850b-140976bdf540","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"trigger-news-summary","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,-32],"id":"b0a209a5-2069-4487-9fb3-e578e6f0427a","name":"Webhook","webhookId":"b9e62b84-3899-42ff-a520-140cb5e0bea0","retryOnFail":false},{"parameters":{"chatId":"5662225041","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1280,128],"id":"87f1cd03-c624-48cd-85c0-4f253f2c17fd","name":"test node to see output","webhookId":"93a0c37d-a8ad-46f3-9e20-f9fa34312d51","credentials":{"telegramApi":{"id":"B3ksok3guD88de6V","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"http://192.168.1.13:5000/api/articles","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1280,-32],"id":"1e5f0913-15ac-4a3a-bd0c-a82cc625700e","name":"HTTP Request"},{"parameters":{"model":"deepseek/deepseek-chat-v3.1","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[928,352],"id":"7bbf75fd-c455-490f-b8d8-10695f9efc32","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"J27W2S3EJmOUfWWN","name":"OpenRouter account"}}}],"connections":{"techradar":{"main":[[{"node":"filter 3 days","type":"main","index":0}]]},"filter 3 days":{"main":[[{"node":"best 5 news","type":"main","index":0}]]},"best 5 news":{"main":[[{"node":"formating","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"formating":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"test node to see output","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]},"formatting":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"techradar","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef215787-c97f-481b-a09f-91854e575638","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-08T10:21:59.874Z","createdAt":"2026-02-08T10:21:59.874Z","role":"workflow:owner","workflowId":"q08YgVYcakONIND651nyG","projectId":"qM1EIe94ct99Gl5d"}],"activeVersion":null,"tags":[]}